<div class="row">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="text-center">BARANGAY <span id="barangay-name-span">{{UserAcount.barangay.barangay_name | uppercase}}</span> SURVEY AS OF <span id="sYear-span">{{SYear}}</span></h4>
        </div>
        <div class="panel-body">
            <div class="table-responsive">

                <table class="table table-bordered table-hover table-striped">
                    <tbody>
                        <tr >
                        <th>Label</th>
                               <th class="alert alert-info text-center" ng-repeat="(key, values) in residents | groupBy: 'prof_sitio'">Sitio {{getresidentname(key)}}</th>
                               <th>TOTAL</th>
                        </tr>
                        <tr>
                        <th>Population</th>
                            <th ng-repeat="(key, values) in residents | groupBy: 'prof_sitio'" class="alert alert-success text-center" >{{values.length}}</th>
                            <th class="text-center" >{{residents.length}}</th>
                        </tr>
                    </tbody>
                </table>

                <table class="table table-bordered table-hover table-striped">
                    <tbody>
                        <tr >
                        <th>Label</th>
                               <th class="alert alert-info text-center" ng-repeat="(key, values) in gethouseholdsetiopurok | groupBy: 'brgy_Sitiopurok'">Sitio {{getresidentname(key)}}</th>
                               <th>TOTAL</th>
                        </tr>
                        <tr>
                        <th>Households</th>
                            <th ng-repeat="(key, values) in gethouseholdsetiopurok | groupBy: 'brgy_Sitiopurok'" class="alert alert-success text-center" >{{values.length}}</th>
                            <th class="text-center" >{{gethouseholdsetiopurok.length}}</th>
                        </tr>
                    </tbody>
                </table>

                <table class="table table-bordered table-hover table-striped">
                    <tbody>
                        <tr >
                        <th>Label</th>
                               <th class="alert alert-info text-center" ng-repeat="(key, values) in GetAllTranscients | groupBy: 'sitiopurok'">Sitio {{getresidentname(key)}}</th>
                               <th>TOTAL</th>
                        </tr>
                        <tr>
                        <th>Transcients</th>
                            <th ng-repeat="(key, values) in GetAllTranscients | groupBy: 'sitiopurok'" class="alert alert-success text-center" >{{values.length}}</th>
                            <th class="text-center" >{{GetAllTranscients.length}}</th>
                        </tr>
                    </tbody>
                </table>

                <table class="table table-bordered table-hover table-striped">
                    <tbody>
                        <tr >
                        <th>Gender</th>
                               <th class="alert alert-info text-center" ng-repeat="(key, values) in maleresident | groupBy: 'prof_sitio'">Sitio {{getresidentname(key)}}</th>
                               <th class="text-center" >TOTAL</th>
                        </tr>
                        <tr>
                        <th>Male</th>
                            <th ng-repeat="(key, values) in maleresident | groupBy: 'prof_sitio'" class="alert alert-success text-center" >{{values.length}}</th>
                            <th class="text-center" >{{maleresident.length}}</th>
                        </tr>

                        <tr>
                        <th>Female</th>
                            <th ng-repeat="(key, values) in femaleresident | groupBy: 'prof_sitio'" class="alert alert-success text-center" >{{values.length}}</th>
                            <th class="text-center" >{{femaleresident.length}}</th>
                        </tr>

                    </tbody>
                </table>

                <table class="table table-bordered table-hover table-striped">
                    <tbody>
                        <tr >
                        <th>Label</th>
                               <th class="alert alert-info text-center" ng-repeat="(key, values) in getchild | groupBy: 'prof_sitio'">Sitio {{getresidentname(key)}}</th>
                               <th class="text-center" >TOTAL</th>
                        </tr>
                        <tr>
                        <th>0-79 months old </th>
                            <th ng-repeat="(key, values) in getchild | groupBy: 'prof_sitio'" class="alert alert-success text-center" >{{values.length}}</th>
                            <th class="text-center" >{{getchild.length}}</th>
                        </tr>
                    </tbody>
                </table>

                <table class="table table-bordered table-hover table-striped">
                    <tbody>
                        <tr >
                        <th>Label</th>
                               <th class="alert alert-info text-center" ng-repeat="(key, values) in eCR | groupBy: 'brgy_Sitiopurok'">Sitio {{getresidentname(key)}}</th>
                               <th>TOTAL</th>
                        </tr>
                        <tr>
                        <th>W/OUT C.R. </th>
                            <th ng-repeat="(key, values) in eCR | groupBy: 'brgy_Sitiopurok'" class="alert alert-success text-center" >{{values.length}}</th>
                            <th class="text-center" >{{eCR.length}}</th>
                        </tr>


                    </tbody>
                </table>

                <table class="table table-bordered table-hover table-striped">
                    <tbody>
                        <tr >
                        <th>Label</th>
                               <th class="alert alert-info text-center" ng-repeat="(key, values) in eWater | groupBy: 'brgy_Sitiopurok'">Sitio {{getresidentname(key)}}</th>
                               <th>TOTAL</th>
                        </tr>
                        <tr>
                        <th>W/OUT WATER </th>
                            <th ng-repeat="(key, values) in eWater | groupBy: 'brgy_Sitiopurok'" class="alert alert-success text-center" >{{values.length}}</th>
                            <th class="text-center" >{{eWater.length}}</th>
                        </tr>


                    </tbody>
                </table>

                <table class="table table-bordered table-hover table-striped">
                    <tbody>
                        <tr >
                        <th>Label</th>
                               <th class="alert alert-info text-center" ng-repeat="(key, values) in eElectricity | groupBy: 'brgy_Sitiopurok'">Sitio {{getresidentname(key)}}</th>
                               <th>TOTAL</th>
                        </tr>
                        <tr>
                        <th>-W/OUT ELECTRICITY </th>
                            <th ng-repeat="(key, values) in eElectricity | groupBy: 'brgy_Sitiopurok'" class="alert alert-success text-center" >{{values.length}}</th>
                            <th class="text-center" >{{eElectricity.length}}</th>
                        </tr>


                    </tbody>
                </table>

                <table class="table table-bordered table-hover table-striped">
                    <tbody>
                        <tr >
                        <th>Employment Status</th>
                               <th class="alert alert-info text-center" ng-repeat="(key, values) in SelfEmployed | groupBy: 'prof_sitio'">Sitio {{getresidentname(key)}}</th>
                               <th>TOTAL</th>
                        </tr>
                        <tr>
                        <th>-Self Employed</th>
                            <th ng-repeat="(key, values) in SelfEmployed | groupBy: 'prof_sitio'" class="alert alert-success text-center" >{{values.length}}</th>
                            <th class="text-center" >{{SelfEmployed.length}}</th>
                        </tr>


                    </tbody>
                </table>

                <table class="table table-bordered table-hover table-striped">
                    <tbody>
                        <tr >
                        <th>Label</th>
                               <th class="alert alert-info text-center" ng-repeat="(key, values) in Unemployed | groupBy: 'prof_sitio'">Sitio {{getresidentname(key)}}</th>
                               <th>TOTAL</th>
                        </tr>
                        <tr>
                        <th>-Unemployed</th>
                            <th ng-repeat="(key, values) in Unemployed | groupBy: 'prof_sitio'" class="alert alert-success text-center" >{{values.length}}</th>
                            <th class="text-center" >{{Unemployed.length}}</th>
                        </tr>
                    </tbody>
                </table>

                <table class="table table-bordered table-hover table-striped">
                    <tbody>
                        <tr >
                        <th>Label</th>
                               <th class="alert alert-info text-center" ng-repeat="(key, values) in OutofSchoolYouth | groupBy: 'prof_sitio'">Sitio {{getresidentname(key)}}</th>
                               <th>TOTAL</th>
                        </tr>
                        <tr>
                        <th>-Out of School Youth</th>
                            <th ng-repeat="(key, values) in OutofSchoolYouth | groupBy: 'prof_sitio'" class="alert alert-success text-center" >{{values.length}}</th>
                            <th class="text-center" >{{OutofSchoolYouth.length}}</th>
                        </tr>
                    </tbody>
                </table>

                <table class="table table-bordered table-hover table-striped">
                    <tbody>
                        <tr >
                        <th>Label</th>
                               <th class="alert alert-info text-center" ng-repeat="(key, values) in Retired | groupBy: 'prof_sitio'">Sitio {{getresidentname(key)}}</th>
                               <th>TOTAL</th>
                        </tr>
                        <tr>
                        <th>-Retired</th>
                            <th ng-repeat="(key, values) in Retired | groupBy: 'prof_sitio'" class="alert alert-success text-center" >{{values.length}}</th>
                            <th class="text-center" >{{Retired.length}}</th>
                        </tr>
                    </tbody>
                </table>

                <table class="table table-bordered table-hover table-striped">
                    <tbody>
                        <tr >
                        <th>-Employed</th>
                               <th class="alert alert-info text-center" ng-repeat="(key, values) in rgovernmnet | groupBy: 'prof_sitio'">Sitio {{getresidentname(key)}}</th>
                               <th class="text-center" >TOTAL</th>
                        </tr>

                        <tr>
                        <th>Government</th>
                            <th ng-repeat="(key, values) in rgovernmnet | groupBy: 'prof_sitio'" class="alert alert-success text-center" >{{values.length}}</th>
                            <th class="text-center" >{{rgovernmnet.length}}</th>
                        </tr>

                        <tr>
                        <th>Private</th>
                            <th ng-repeat="(key, values) in rPrivate | groupBy: 'prof_sitio'" class="alert alert-success text-center" >{{values.length}}</th>
                            <th class="text-center" >{{rPrivate.length}}</th>
                        </tr>

                    </tbody>
                </table>

                <table class="table table-bordered table-hover table-striped">
                    <tbody>
                        <tr >
                        <th>Label</th>
                               <th class="alert alert-info text-center" ng-repeat="(key, values) in getallestablishment | groupBy: 'business_address'">Sitio {{getresidentname(key)}}</th>
                               <th>TOTAL</th>
                        </tr>
                        <tr>
                        <th>-Establishments</th>
                            <th ng-repeat="(key, values) in getallestablishment | groupBy: 'business_address'" class="alert alert-success text-center" >{{values.length}}</th>
                            <th class="text-center" >{{getallestablishment.length}}</th>
                        </tr>
                    </tbody>
                </table>

                <a ng-if="UserAcount._id" ng-click="generateBarangaySurvey()" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-circle-arrow-down"></span> Generate PDF</a>

            </div>
        </div>
    </div>
</div>



