<div class="panel panel-default">
    <div class="panel-heading">
            <div class="pull-right">
                <a ng-show="UserAcount.accesscontrol === 'barangayaccesscontrol'"
                ng-click="addnewTranscends('lg')" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-plus-sign" ></span> Add New Transcients </a>
            </div>
            <h4>List of Transients [{{transcendlist.length}}]</h4>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
        <input type="text" ng-model="search" class="form-control search-query" placeholder="Search the Name of a person&hellip;" />
             <hr>
             <div class="pull-right">
                 <button ng-hide="pagehide == 1" ng-class="{ disabled : prevdisable == 1 }" class="btn btn-sm btn-success" ng-click="previouspage(page - 1, transcendlist.length)"><span class="glyphicon glyphicon-chevron-left" ></span></button>
                 <button ng-hide="pagehide == 1" ng-class="{disabled : nextdisable == 1}" class="btn btn-sm btn-success" ng-click="nextpage(page + 1, transcendlist.length)"><span class="glyphicon glyphicon-chevron-right" ></span> </button>
            </div><br><br>
            <table class="table">
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Address</th>
                <th>Action</th>
            </tr>
            <tr ng-repeat="transcend in getlimittransient | filter:search">
                <td>{{transcend.fullname}} </td>
                <td>{{ calculate_age(transcend.b_date) }}</td>
                <td>{{transcend.transcend_address}}</td>
                <td>
                     <!-- <button class="btn btn-info btn-sm" ng-click="viewtranscendinfo('lg', transcend._id)"> View </button> -->
                     <button class="btn btn-info btn-sm" ng-click="transcendEdit('lg', transcend._id)"> Edit </button>
                </td>
                <td>

                </td>
            </tr>
            </table>
        </div>
</div>

</div>