<div class="container">
    <div class="panel panel-default">
            <div class="panel-heading">
             <div class="searchbox  pull-right">
                <div class="col-md-12">
            <input type="text" ng-model="search" class="form-control search-query" placeholder="Search&hellip;" />
                </div>
            </div>

                <a ng-show="UserAcount.accesscontrol ==='barangayaccesscontrol'" ng-href="/clearance/create" class="btn btn-default pull-right"><span class="glyphicon glyphicon-plus-sign" ></span> Add New</a>

        <h2>Barangay Clearance</h2>
         <p><span class="label label-success">No. of Clearance: {{no_clearance}}</span> </p>

        </div>ss
        <div class="panel-body">
              <br>

            <table ng-table="tableParams" template-pagination="custom/pager" class="table table-hover">
                  <tr ng-repeat="clearance in $data | filter:search | orderBy:'prof_firstname'">
                      <td data-title="'Id #'">
                          {{clearance._id}}
                      </td>
                      <td data-title="'Name'">
                          {{clearance.resident.prof_firstname}}, {{clearance.resident.prof_lastname}}
                      </td>
                      <td data-title="'Region'">
                          {{clearance.resident.region.region_name}}
                      </td>
                      <td data-title="'Municipality'">
                          {{clearance.resident.municipality.municipality_name}}
                      </td>
                      <td data-title="'Barangay'">
                          {{clearance.resident.barangay.barangay_name}}
                      </td>
                      <td data-title="'Action'">
                        <div class="pull-right">
                          <a href="/viewclearance/{{clearance._id}}" class="btn btn-info"><span class="glyphicon glyphicon-eye-open"></span> Show</a>

                          <a href="/clearance/{{clearance._id}}" class="btn btn-success" ><span class="glyphicon glyphicon-edit" ></span> Edit </a>

                        </div>
                      </td>
                  </tr>
              </table>
           <script type="text/ng-template" id="custom/pager">
                    <ul class="pager ng-cloak">
                      <li ng-repeat="page in pages"
                            ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
                            ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
                        <a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
                        <a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
                      </li>
                        <li>
                        <div class="btn-group">
                            <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                            <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                            <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                            <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
                        </div>
                        </li>
                    </ul>
                </script>
        </div>
    </div>
</div>