
              <center>

                  <br>
              </center>
              <center>
                    <div class="col-md-12 form-inline">
                      <a ng-show="UserAcount.accesscontrol === 'barangayaccesscontrol'"
                      ng-click="residentModel('lg')" class="btn btn-info btn-sm">
                      <span class="glyphicon glyphicon-plus-sign" ></span> Add New </a>
                      <a ng-click="allview()" class="btn btn-info btn-sm">
                      <span class="glyphicon glyphicon-refresh" ></span> Display All </a>

                      <a ng-hide="residents.length === 0 "  ng-if="UserAcount.accesscontrol === 'barangayaccesscontrol' || UserAcount.accesscontrol  === 'officialaccesscontrol'" class="btn btn-info btn-sm" href="/viewreport/{{UserAcount.barangay._id}}"> <span class="glyphicon glyphicon-share-alt"></span> View Report</a>
                      <a ng-hide="residents.length === 0 "  ng-if="UserAcount.accesscontrol === 'barangayaccesscontrol'" class="btn btn-info btn-sm" href="/generateIDs"> <span class="glyphicon glyphicon-circle-arrow-right"></span> Generate all ID's </a>
                       <ui-select ng-model="searchtypes.searchtype" theme="select2" ng-disabled="disabled" style="width: 200px;" title="Choose the search type">
                        <ui-select-match placeholder="Search By...">{{$select.selected.searchName}}</ui-select-match>
                        <ui-select-choices repeat="searchtype in searchtypes | filter: $select.search">
                          <span ng-bind-html="searchtype.searchName | highlight: $select.search"></span>
                        </ui-select-choices>
                      </ui-select>
                      <ui-select ng-if="stype.searchName == 'Gender'" ng-model="GenderTypes.gendername" theme="select2" ng-disabled="disabled" style="width: 150px;" title="Choose a gender">
                        <ui-select-match placeholder="Select Gender">{{$select.selected.gendername}}</ui-select-match>
                        <ui-select-choices repeat="gendertype in GenderTypes | filter: $select.search">
                          <span ng-bind-html="gendertype.gendername | highlight: $select.search"></span>
                        </ui-select-choices>
                      </ui-select>

                      <typeaheadsearch ng-if="stype.searchName == 'Full Name'"
                       items="residentSearch" prompt="Firstname Middlename Lastname"
                        title="fullname" subtitle="b_date" model="name"
                        on-select="onItemSelected(name)" />

                       <ui-select ng-if="stype.searchName == 'Blood Type'" ng-model="bloodtypesearch.blood_type" theme="select2" ng-disabled="disabled" style="width: 150px;" title="Choose a blood type">
                        <ui-select-match placeholder="Select or search a blood type in the list...">{{$select.selected.blood_type}}</ui-select-match>
                        <ui-select-choices repeat="btype in bloodtypesearch | filter: $select.search">
                          <span ng-bind-html="btype.blood_type | highlight: $select.search"></span>
                        </ui-select-choices>
                      </ui-select>

                      <ui-select ng-if="stype.searchName == 'Health Service Availed'" ng-model="healthSearch.name" theme="select2" ng-disabled="disabled" style="width: 150px;" title="Choose the health availed">
                        <ui-select-match placeholder="Select or search the health availed in the list...">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="healthAvailed in healthSearch | filter: $select.search">
                          <span ng-bind-html="healthAvailed.name | highlight: $select.search"></span>
                        </ui-select-choices>
                      </ui-select>

                      <typeaheadoccupation ng-if="stype.searchName == 'Occupation'"
                       items="residentSearch" prompt="Occupation..."
                        title="prof_occupation" subtitle="fullname" model="prof_occupation"
                        on-select="onItemSelected(prof_occupation)" />
                      <hr>
                     </div>

              </center>
            <div class="row  form-inline">
            <p ng-if="UserAcount.accesscontrol === 'barangayaccesscontrol'"  ng-show="residents.length === 0 ">Opps! no records found.</p>
            <p ng-if="UserAcount.accesscontrol === 'municipalitycontrol'"  ng-show="account_count === 0 ">Opps! no barangay account created yet. <a ng-href="/user">click here to create one.</a></p>
            <p ng-if="UserAcount.accesscontrol === 'municipalitycontrol'" ng-show="residents.length === 0 && account_count !== 0">Opps! No records found. Login your barangay account to add new records.</p><br>

    </div>

<div class="panel panel-default">
    <div class="panel-heading">
            <div class="pull-right">
                 <button ng-hide="pagehide == 1" ng-class="{ disabled : prevdisable == 1 }" class="btn btn-sm btn-success" ng-click="previouspage(page - 1, totalresident, GenderTypes.gendername)"><span class="glyphicon glyphicon-chevron-left" ></ssspan></button>
                 <button ng-hide="pagehide == 1" ng-class="{disabled : nextdisable == 1}" class="btn btn-sm btn-success" ng-click="nextpage(page + 1, totalresident, GenderTypes.gendername)"><span class="glyphicon glyphicon-chevron-right" ></span> </button>
            </div>
                  <div id="qrcode" style="width:5px; height:5px; margin-top:15px; display: none;"></div>
                  <h4 ng-if="UserAcount.accesscontrol === 'barangayaccesscontrol'">{{UserAcount.barangay.barangay_name}} Barangay Resident List  <span  class="label label-success">[ {{totalresident}} ]</span></h4>
                  <h4 ng-if="UserAcount.accesscontrol === 'Viewer'">Barangay Resident List <span  class="label label-success">[ {{totalresident}} ]</span></h4>
                  <h4 ng-if="UserAcount.accesscontrol === 'provincecontrol'">Barangay Resident List <span  class="label label-success">[ {{totalresident}} ]</span></h4>
                  <h4 ng-if="UserAcount.accesscontrol === 'regionadmin'">Barangay Resident List <span  class="label label-success">[ {{totalresident}} ]</span></h4>
                  <h4 ng-if="UserAcount.accesscontrol === 'municipalitycontrol'">Municipality of {{UserAcount.municipality.municipality_name}} Resident's List <span  class="label label-success">[ {{totalresident}} ]</span></h4>

            <br>

    </div>
    <div class="panel-body">

        <div class="col-md-6" ng-repeat="resident in getlimitresident">

        <div class="panel panel-info" >
               <div class="panel-heading">
                <h3 class="panel-title pull-right">{{resident.fullname}}</h3>
                   <div class="">
                     <!-- Extra small button group -->
                    <div class="btn-group">
                      <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu dropdown-menu-left">

                          <li><a ng-show="UserAcount.accesscontrol ==='barangayaccesscontrol'" href="" ng-click="viewresidentModel('lg', resident._id, page)" ><span class="glyphicon glyphicon-eye-open"></span> clearance </a></li>
                          <li><a href="" ng-show="UserAcount.accesscontrol ==='barangayaccesscontrol'" ng-click="resident_edit_Model('lg', resident._id, page)"> <span class="glyphicon glyphicon-edit"></span> Edit </a></li>
                          <li><a href="" ng-show="UserAcount.accesscontrol ==='barangayaccesscontrol'" ng-click="destroy('sm', resident._id, resident.prof_firstname, resident.prof_middle_name, resident.prof_lastname, page)"> <span class="glyphicon glyphicon-trash"></span> Delete </a></li>
                          <li role="separator" class="divider"></li>
                          <li><a href="#" ng-if="UserAcount.accesscontrol === 'barangayaccesscontrol'" ng-click="generatethisID(resident._id)" ><span class="glyphicon glyphicon-circle-arrow-down"></span> Get ID</a></li>

                      </ul>
                    </div>

               </div>


               </div>
               <div class="panel-body">
                       <div class="row">

                                <div class="col-xs-7">
                                  <span><strong>Gender: </strong>{{ resident.prof_gender }}</span><br>
                                  <span><strong>B-date: </strong>{{ resident.b_date | date }}</span><br>
                                  <span><strong>Status: </strong>{{ resident.prof_status }}</span><br>
                                  <span><strong>Age: </strong>{{ calculate_age(resident.b_date) }} years old</span><br>
                                  <button class="btn btn-warning btn-sm" ng-click="outofplace(resident._id, page)">Out of town</button>
                                </div>
                                <div class="col-xs-5">

       <!--                                <div  class="pull-right" ng-show="resident.imageuri">
                                        <img id="Hello" src="{{resident.imageuri}} "class="img-rounded"  style="height: 65%; width: 65%;">
                                      </div> -->
                                      <div  class="pull-right" style="height: 50px; width: 50px;">
                                        <img id="Hello" ng-src="img/no-photo-icon.png"  style="height: 50px; width: 50px;" class="img-rounded">

                                      </div>

                                </div>

                       </div>

               </div>

            </div>
        </div>
</div>

</div>
