<div class="panel panel-default">
        <div class="panel-heading">
            <div class="pull-right">
                 <a href="" ng-click="cancel()"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
            <center><h4>{{residentbirth.fullname}}</h4></center>
        </div>
        <div class="panel-body">
            <div class="col-md-6 well">
                <div  style="height: 250px; width: 250px;">
                    <center><img id="Hello" ng-src="img/balloon_PNG574.png" height="200" width="200"></center>
                </div>
            </div>
            <div class="col-md-6 well">
                  <div style="height: 250px; width: 250px;">
                    <center><img id="Hello" src="{{residentbirth.imageuri}}"height="220" width="220"></center>
                  </div>
            </div>
            <div class="row well">
            <span class="btn btn-sm btn-success">Birthdate: {{residentbirth.birthString}}</span>&nbsp;&nbsp;&nbsp;
            <span class="btn btn-sm btn-success"> Age: {{get_age(residentbirth.b_date)}} years old </span>

            </div>
        </div>
        <div class="panel-footer">

        </div>
</div>
