<div class="panel panel-default">
  <div class="panel-body">

    <input type="text" ng-model="search" class="form-control search-query" placeholder="Search the Name of the Region&hellip;" />

    <br>
    <accordion close-others="oneAtATime">
        <accordion-group is-open="status.open" ng-repeat="municipality in showmunicipalities | filter:search">

            <accordion-heading>
                <a href="#"  ng-click="getmunicipalresidentlist(municipality._id, municipality.municipality_name)">{{municipality.municipality_name}}</a>
                <i class="pull-right glyphicon" ng-click="getmunicipalresidentlist(municipality._id, municipality.municipality_name)" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
            </accordion-heading>

            <form name="userForm" class="form-inline">
                  <div class="well">
                  Total No. of Population : <span class="label label-success"> {{getresidentregion.length}}</span><br>
                   <label>Select the Category to view: </label>

                        <div class="controls container">
                          <label class="radio inline" for="barangayview">
                              <input type="radio" name="barangayview" ng-model="searchcategory" id="barangayview" value="barangayview">
                              By Barangay
                          </label>

                          <div ng-show="searchcategory === 'barangayview'" class="control-group">
                            <br>

                              <label for="barangayselected">Select Barangay</label>&nbsp;&nbsp;
                             <ui-select ng-model="barangays.barangayselected" theme="select2" on-select="someFunction($item, $model)" ng-disabled="disabled" style="width: 150px;" title="Choose a municipalities">
                                <ui-select-match placeholder="Search the municipal">{{$select.selected.barangay_name}}</ui-select-match>
                                <ui-select-choices repeat="barangayselected._id as barangayselected in barangays | propsFilter: {barangay_name: $select.search}">
                                  <div ng-bind-html="barangayselected.barangay_name | highlight: $select.search"></div>
                                </ui-select-choices>
                              </ui-select>

                          <a ng-if="barangays.barangayselected" ng-click="getbarangaylistresident(barangays.barangayselected, municipality.municipality_name)" class="btn btn-default btn-sm">
                          <span class="glyphicon glyphicon-refresh" ></span> Go </a><br>

                          </div>

                          <a ng-if="searchcategory === 'provinceview'" ng-click="getprovinceslist('lg', region._id, region.region_name)" class="btn btn-default btn-sm">
                          <span class="glyphicon glyphicon-refresh" ></span> Go </a><br>


                      </div>
                  </div>
                  </form>


                  <hr>
                  <input type="text" ng-model="residentsearch" class="form-control search-query" placeholder="Search the Name of the Region&hellip;" />

              <div class="text-center">
                  <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="dirPagination.tpl.html"></dir-pagination-controls>
              </div>
               <div class="table-responsive">
                              <table class="table">
                              <tr>
                                  <th>Full Name</th>
                                  <th>Barangay</th>
                                  <th>Municipality/City</th>
                                  <th>Province</th>
                               <!--    <th>Action</th> -->
                              </tr>
                              <tr dir-paginate="residentprof in getresidentregion | filter:residentsearch | itemsPerPage: pageSize" current-page="currentPage">

                                  <td>{{residentprof.fullname}}</td>
                                  <td>{{residentprof.barangay.barangay_name}}</td>
                                  <td>{{residentprof.municipality.municipality_name}}</td>
                                  <td>{{residentprof.province.province_name}}</td>
                                  <td>
                                  <a ng-click="viewresidentprofile('lg', residentprof._id)" class="btn btn-default btn-sm">
                                  <span class="glyphicon glyphicon-refresh" ></span> View Profile </a>
                                  </td>
                              </tr>

                              </table>
                      </div>
        </accordion-group>
      </accordion>
  </div>
</div>
</div>