<div class="well">
<button class="btn btn-danger btn-sm" ng-click="printID('loading', 'true')"><span class="glyphicon glyphicon-random "></span>
<div class="container" ng-if="activateloading == true">
     <div class="sk-spinner sk-spinner-wave">
      <div class="sk-rect1"></div>
      <div class="sk-rect2"></div>
      <div class="sk-rect3"></div>
      <div class="sk-rect4"></div>
      <div class="sk-rect5"></div>
    </div>

Click here to Generate</button>
</div>


<!--     <div class="sk-spinner sk-spinner-cube-grid">
      <div class="sk-cube"></div>
      <div class="sk-cube"></div>
      <div class="sk-cube"></div>
      <div class="sk-cube"></div>
      <div class="sk-cube"></div>
      <div class="sk-cube"></div>
      <div class="sk-cube"></div>
      <div class="sk-cube"></div>
      <div class="sk-cube"></div>
    </div> -->
</div>