<div class="panel panel-default">
    <div class="panel-body">
        <tabset justified="true">
            <tab heading="{{sitiopurok.sitioPurokname}}" ng-click="getsitiopurok_survey(UserAcount._id, sitiopurok._id, sitiopurok.sitioPurokname)"  ng-repeat="sitiopurok in GetAllSitioPuroklist">
            <br>
                <div class="well">

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4 class="text-center">{{sitiopurok.sitioPurokname}}</h4>
                        </div>
                        <div class="panel-body">
                           <div class="table-responsive">
                                <table class="table table-bordered table-hover table-striped">
                                    <tbody>

                                        <tr ng-repeat="head in surveyhead" >
                                            <th>{{head.SurveyHead}}</th>
                                            <td>{{getsitiopuroktotal(head.indicator).length}}</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="well">

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4 class="text-center">Status</h4>
                        </div>
                        <div class="panel-body">
                          <div class="table-responsive">
                                <table class="table table-bordered table-hover table-striped">
                                    <tbody>

                                        <tr ng-repeat="head in surveyheadmore" >
                                            <th>{{head.SurveyHead}}</th>
                                            <td>{{getsitiopuroktotal(head.indicator).length}}</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="well">

                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h4 class="text-center">Employed</h4>
                            </div>
                            <div class="panel-body">
                              <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <tbody>

                                            <tr ng-repeat="head in surveyheademployed" >
                                                <th>{{head.SurveyHead}}</th>
                                                <td>{{getsitiopuroktotal(head.indicator).length}}</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                </div>
                <div class="well">

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4 class="text-center">Physical Status</h4>
                        </div>
                        <div class="panel-body">
                          <div class="table-responsive">
                                <table class="table table-bordered table-hover table-striped">
                                    <tbody>

                                        <tr ng-repeat="head in SurveyResidentPhysicalStatus">
                                            <th>{{head.SurveyHead}}</th>
                                            <td>{{getsitiopuroktotal(head.indicator).length}}</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="well">

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <!-- <h4>{{sitiopurok.sitioPurokname}}</h4> -->
                        </div>
                        <div class="panel-body">
                          <div class="table-responsive">
                                <table class="table table-bordered table-hover table-striped">
                                    <tbody>

                                        <tr ng-repeat="head in SurveyResidentMoreStatus" >
                                            <th>{{head.SurveyHead}}</th>
                                            <td>{{getsitiopuroktotal(head.indicator).length}}</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="well">

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4  class="text-center">0-79 MONTHS OLD CHILD</h4>
                        </div>
                        <div class="panel-body">
                          <div class="table-responsive">
                                <table class="table table-bordered table-hover table-striped">
                                    <tbody>

                                        <tr>
                                            <th>0-79 MONTHS OLD CHILD</th>
                                            <td>{{seventyninemonth.length}}</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="well">

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4  class="text-center">Total No. Of Establishments</h4>
                        </div>
                        <div class="panel-body">
                          <div class="table-responsive">
                                <table class="table table-bordered table-hover table-striped">
                                    <tbody>

                                        <tr>
                                            <th>Total No. Of Establishments</th>
                                            <td>{{getallestablishment.length}}</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <a ng-if="UserAcount._id" ng-click="generatePurokSurvey(sitiopurok._id)" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-circle-arrow-down"></span> Generate PDF</a>
            </tab>
         </tabset>
  </div>
</div>