<!DOCTYPE html>
<html ng-app="brgyapp">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />
    <meta name="apple-mobile-web-app-status-bar-style" content="yes" />

  <title ng-if="UserAcount.accesscontrol === 'barangayaccesscontrol'">Barangay of {{UserAcount.barangay.barangay_name}}</title>
  <title ng-if="UserAcount.accesscontrol === 'Viewer'">{{UserAcount.username}} as Viewer</title>
  <title ng-if="UserAcount.accesscontrol === 'officialaccesscontrol'">{{UserAcount.username}} as Viewer</title>
  <title ng-if="UserAcount.accesscontrol === 'regionadmin'">{{UserAcount.access}} Account</title>
  <title ng-if="UserAcount.accesscontrol === 'municipalitycontrol'">Municipality of {{UserAcount.municipality.municipality_name}}</title>
  <title ng-if="UserAcount.accesscontrol === 'provincecontrol'">Province of {{UserAcount.province.province_name}}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
  <base href="/">
  <link href="cycle.png" rel="icon">

  <!-- // <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.3.0.js"></script> -->
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap-timepicker/css/bootstrap-timepicker.min.css">

  <link rel="stylesheet" type="text/css" href="vendor/css/image.css" />
  <link rel="stylesheet" type="text/css" href="vendor/css/style.css" />
  <link rel="stylesheet" type="text/css" href="vendor/js/ng-tags-input.min.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="bower_components/jquery-timepicker-jt/jquery.timepicker.css" />

  <link rel="stylesheet" type="text/css" href="bower_components/ui-select/dist/select.min.css">
  <link rel="stylesheet" type="text/css" href="bower_components/select2-3.4.5/select2.css">
  <link rel="stylesheet" type="text/css" href="bower_components/angular-loading-bar/src/loading-bar.css">
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="css/bootswatch.min.css" rel="stylesheet"> -->

    <!-- Custom CSS -->
    <link href="css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
  <style>
    #hideload {
      display:none;
    }
    #hideloadover{
      display:none;
    }
    .loading-pane {
      background: #fff;
      height: 100%;
      width: 100%;
      position: fixed;
      margin: 0;
      z-index: 1500;
      color: #9ba4aa;
      display: block;
      text-align: center;
      vertical-align: middle;
    }
    .loading-pane .loading-container {
      font-size: 35px;
      position: absolute;
      width: 100%;
      top: 50%;
      text-align: center;
      margin-top: -90px;
    }
  </style>
<body ng-controller="navbarCtrl">
  <div class="loading-pane">
    <div class="loading-container">
      <i class="fa fa-spinner fa-spin"></i>
      <p style="font-size: 15px;">loading...</p>
    </div>
  </div>
<div ng-show="!UserAcount || errornotoken" ng-include src="'landingpage.html'"></div>
    <div id="wrapper" ng-show="UserAcount">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="hideload">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/home">
                 <img id="Hello" src="logoBeST.png"class="img-rounded"  style="height: 125%; width: 20%;">
                </a>

            </div>

            <!-- Top Menu Items -->

            <ul class="nav navbar-right top-nav">
            <a href=""> <li ng-show="error" class="navbar-text" style="color: white;">{{error}}</li></a>
                            <form class="navbar-form navbar-left">
                            <input type="text" class="form-control"  ng-model="qrvalue" placeholder="Enter the QR value here">

                </form>
                <li class="dropdown">
                    <a ng-hide="!residentBirthdays.length" class="dropdown-toggle js-activated" href="#" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu alert-dropdown">

                        <li ng-if="residentBirthdays" ng-repeat="birthtoday in residentBirthdays">
                            <a href="#" ng-click="viewbirthday('md', birthtoday._id)">
                            <span class="glyphicon glyphicon-calendar"> </span> {{birthtoday.fullname}} <br>
                            <span>{{get_age(birthtoday.b_date)}} years old</span>
                            </a>

                          </li>
                    </ul>
                </li>
               <li ng-if="!UserAcount"><a href="" ng-click="login_modal('md')"> Login </a></li>
                <li ng-hide="!UserAcount || errornotoken"  class="dropdown">
                    <a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown"><i class="fa fa-user"></i> Welcome {{UserAcount.username}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li ng-if="UserAcount.accesscontrol === 'municipalitycontrol'"><a href="" ng-click="account_modal('lg', UserAcount._id, UserAcount.accesscontrol)"> <span class="glyphicon glyphicon-user"> </span>  Edit My Profile </a></li>
                         <li ng-if="UserAcount.accesscontrol === 'regionadmin'"><a href="" ng-click="account_modal('lg', UserAcount._id, UserAcount.accesscontrol)"> <span class="glyphicon glyphicon-user"> </span>  Edit My Profile </a></li>
                        <li ng-if="UserAcount.accesscontrol === 'barangayaccesscontrol'"><a href="" ng-click="account_modal('lg', UserAcount._id, UserAcount.accesscontrol)"> <span class="glyphicon glyphicon-user"> </span> Edit My Profile </a></li>
                        <li ng-if="UserAcount.accesscontrol === 'barangayaccesscontrol'"><a href="/officialsaccountlist" > <span class="glyphicon glyphicon-user"> </span> Manage Officials</a></li>
                         <li ng-if="UserAcount.accesscontrol === 'barangayaccesscontrol'"><a href="/official-account" > <span class="glyphicon glyphicon-user"> </span> Official's Account</a></li>
                        <li ng-if="UserAcount.accesscontrol === 'provincecontrol' || UserAcount.accesscontrol === 'regionadmin' || UserAcount.accesscontrol === 'municipalitycontrol'" ><a href="/user"> <span class="glyphicon glyphicon-user"> </span> Manage Account</a></li>
                        <li ng-if="UserAcount.accesscontrol === 'regionadmin' " ><a href="/region"> <span class="glyphicon glyphicon-globe"> </span> Manage Region </a></li>
                        <li class="divider"></li>
                        <li ng-include src="'logout.html'"></li>

                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div ng-hide="!UserAcount || errornotoken" >

              <div class="collapse navbar-collapse navbar-ex1-collapse" ng-controller="navbarCtrl">
                  <ul class="nav navbar-nav side-nav">

                      <li >
                          <a href="/home"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                      </li>
                      <li ng-show="UserAcount.accesscontrol === 'barangayaccesscontrol'">
                          <a ng-hide="!UserAcount || errornotoken" href="/SitioPurok"><i class="fa fa-fw fa-edit"></i> Manage Sitio/Purok </a>
                      </li>
<!--                     <li ng-if="UserAcount.accesscontrol === 'provincecontrol' ">
                          <a ng-hide="!UserAcount || errornotoken" href="/adminprovinceresidentportal">
                          <i class="fa fa-fw fa-bar-chart-o"></i> Resident's Profile </a>
                    </li> -->
                     <li>
                        <a href="javascript:;" data-toggle="collapse" ng-if="UserAcount.accesscontrol === 'barangayaccesscontrol' " data-target="#survey"><i class="fa fa-fw fa-arrows-v"></i> Survey  Report <i class="fa fa-fw fa-caret-down pull-right"></i></a>
                        <ul id="survey" class="collapse">
                            <li ng-show="UserAcount.accesscontrol === 'barangayaccesscontrol'">
                                  <a ng-hide="!UserAcount || errornotoken" href="/surveyreport">
                                  <i class="fa fa-fw fa-bar-chart-o"></i> Sitio/Purok Survey </a>
                            </li>
                            <li ng-show="UserAcount.accesscontrol === 'barangayaccesscontrol'">
                                  <a ng-hide="!UserAcount || errornotoken" href="/barangaysurvey"><i class="fa fa-fw fa-bar-chart-o"></i> Barangay Survey </a>
                            </li>
                            <li ng-show="UserAcount.accesscontrol === 'barangayaccesscontrol'">
                                  <a ng-hide="!UserAcount || errornotoken" href="/generalsurvey"><i class="fa fa-fw fa-bar-chart-o"></i> General Survey </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#resident"><i class="fa fa-fw fa-arrows-v"></i> Resident's <i class="fa fa-fw fa-caret-down pull-right"></i></a>
                        <ul id="resident" class="collapse">
                            <li ng-show="UserAcount.accesscontrol === 'barangayaccesscontrol'">
                                  <a ng-hide="!UserAcount || errornotoken" href="/resident">
                                  <i class="fa fa-fw fa-bar-chart-o"></i> Resident's Profile </a>
                            </li>
                            <li >
                                  <a ng-hide="!UserAcount || errornotoken" href="/household"><i class="fa fa-fw fa-bar-chart-o"></i> Household </a>
                              </li>
                              <li>
                                  <a ng-hide="!UserAcount || errornotoken" href="/families"><i class="fa fa-fw fa-bar-chart-o"></i> Families </a>
                              </li>
                              <li>
                                  <a ng-hide="!UserAcount || errornotoken" href="/seniorcitizen"><i class="fa fa-fw fa-bar-chart-o"></i> Senior Citizen </a>
                              </li>
                              <li>
                                  <a ng-hide="!UserAcount || errornotoken" href="/transcends"><i class="fa fa-fw fa-bar-chart-o"></i> Transients </a>
                              </li>
                              <li>
                                  <a ng-hide="!UserAcount || errornotoken" href="/seventyninemonths"><i class="fa fa-fw fa-bar-chart-o"></i> 0 - 79 months Child </a>
                              </li>
                        </ul>
                    </li>

                      <li>
                          <a ng-hide="!UserAcount || errornotoken" href="/businessOwner"><i class="fa fa-fw fa-edit"></i> Business Permit </a>
                      </li>
                      <li ng-show="UserAcount.accesscontrol === 'barangayaccesscontrol'">
                          <a ng-hide="!UserAcount || errornotoken" href="/businessstablishment"><i class="fa fa-fw fa-bar-chart-o"></i> Establishments </a>
                      </li>
                       <li ng-show="UserAcount.accesscontrol === 'regionadmin'">
                          <a ng-hide="!UserAcount || errornotoken" href="/regionPortal"><i class="fa fa-fw fa-bar-chart-o"></i> Residents </a>
                      </li>
                      </li>
                      <li>
                          <a ng-hide="!UserAcount || errornotoken" href="/judicial"><i class="fa fa-fw fa-table"></i> Judicials </a>
                      </li>
                      <li ng-if="UserAcount.accesscontrol === 'barangayaccesscontrol'"><a href="/officialsaccountlist" > <span class="glyphicon glyphicon-user"> </span> Manage Officials </a></li>
                      <li ng-if="UserAcount.accesscontrol === 'barangayaccesscontrol'"><a href="/official-account" > <span class="glyphicon glyphicon-user"> </span> Official's Account </a></li>
                      <li>
                          <a ng-if="UserAcount.accesscontrol === 'regionadmin'" href="/region"><i class="fa fa-fw fa-edit"></i> Manage Region </a>
                      </li>
                      <li>
                          <a ng-if="UserAcount.accesscontrol === 'regionadmin' || UserAcount.accesscontrol === 'provincecontrol' || UserAcount.accesscontrol === 'municipalitycontrol'" href="/user"><i class="fa fa-fw fa-edit"></i> Manage Account</a>
                      </li>

                      <li ng-include src="'logout.html'"></li>
                  </ul>
              </div>

             </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid well">

              <style type="text/css">
              .app-content-loading {
                text-align: center;
                height: 100%;
                width: 100%;
                background: #fff;
                position: relative;
                 z-index: 1200;
              }
              .loading-spinner {
                position: absolute;
                font-size: 55px;
                left: 50%;
                top: 50%;
                margin: 0px;
              }
              </style>

      <!-- App Body -->

      <div class="app-body" ng-class="{loading: loading}">
        <div ng-show="loading" class="app-content-loading">
          <i class="fa fa-spinner fa-spin"></i>
        </div>
        <div class="app-content">
          <ng-view></ng-view>
        </div>
      </div>

    </div><!-- ~ .app -->

                </div>
                                 <hr>
                   <footer>
                      <p class="text-center">&copy; BeST {{SYear}}</p>
                    </footer>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

<!-- this script came from the head tag  -->
  <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="vendor/js/JsBarcode.all.min.js"></script>
  <script type="text/javascript" src="bower_components/qr/qrcode.js"></script>
  <script type="text/javascript" src="bower_components/qr/date.js"></script>
  <script type="text/javascript" src="bower_components/qr-js/qr.js"></script>

  <script type="text/javascript" src="bower_components/js/angular-file-upload-shim.js"></script>
  <script type="text/javascript" src="bower_components/webcam/webcam.js"></script>
  <script type="text/javascript" src='bower_components/jspdf/libs/png_support/zlib.js' type='text/javascript'></script>
  <script type="text/javascript" src='bower_components/jspdf/libs/png_support/png.js' type='text/javascript'></script>

  <script src='bower_components/jspdf/libs/deflate.js' type='text/javascript'></script>
  <script type="text/javascript" src="bower_components/jspdf/jspdf.all.min.js"></script>
  <script type="text/javascript" src="bower_components/jspdf/jspdf.plugin.addimage.js"></script>
  <script type="text/javascript" src="bower_components/jspdf/jspdf.plugin.png_support.js"></script>
  <script type="text/javascript" src="vendor/jspdf.plugin.table.js"></script>
  <script type="text/javascript" src="vendor/jspdf.debug.js"></script>
  <script type="text/javascript" src="vendor/jspdf.plugin.autotable.js"></script>
  <script type="text/javascript" src="bower_components/qr-js/qr.js"></script>

  <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-qrcode/qrcode.js"></script>
  <script type="text/javascript" src="bower_components/angular-qrcode/bower_components/qrcode-generator/js/qrcode.js"></script>
  <script type="text/javascript" src="bower_components/angular-qrcode/bower_components/qrcode-generator/js/qrcode_UTF8.js"></script>
  <script type="text/javascript" src="bower_components/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
  <script type="text/javascript" src="bower_components/ui-select/dist/select.min.js"></script>

  <script type="text/javascript" src="vendor/js/ng-tags-input.min.js"></script>
  <script type="text/javascript" src="vendor/js/jquery.popupoverlay.js"></script>

  <script type="text/javascript" src="directives/cropdirective.js"></script>
<!-- end of this script from the head tag-->

   <script type="text/javascript" src="bower_components/ng-table/ng-table.js"></script>
   <script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
   <script type="text/javascript" src="bower_components/angular-cookies/angular-cookies.min.js"></script>
   <script type="text/javascript" src="bower_components/angular-messages/angular-messages.min.js"></script>
   <script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
   <script type="text/javascript" src="bower_components/angular-resource/angular-resource.min.js"></script>
   <script type="text/javascript" src="bower_components/angular-messages/angular-messages.min.js"></script>
   <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
   <script type="text/javascript" src="bootstrap-hover-dropdown.js"></script>

   <script type="text/javascript" src="bower_components/angular-mocks/angular-mocks.js"></script>
   <script type="text/javascript" src="bower_components/jquery-timepicker-jt/jquery.timepicker.js"></script>
   <script type="text/javascript" src="bower_components/moment/min/moment.min.js"></script>
   <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
   <script type="text/javascript" src="bower_components/checklist-model/checklist-model.js"></script>
   <script type="text/javascript" src="bower_components/angular-loading-bar/src/loading-bar.js"></script>

   <script type="text/javascript" src="bower_components/angular-filter/dist/angular-filter.min.js"></script>

   <script type="text/javascript" src="bower_components/ngupload/ng-upload.min.js"></script>
   <script type="text/javascript" src="bower_components/js/angular-file-upload.min.js"></script>


   <script type="text/javascript" src="vendor/underscore.js"></script>
   <script type="text/javascript" src="vendor/restangular.js"></script>


<!-- main js -->
   <script type="text/javascript" src="script/app.js"></script>

<!-- common factories -->
   <script type="text/javascript" src="factory/userfactory.js"></script>
   <script type="text/javascript" src="factory/brgyOfficials.js"></script>
   <script type="text/javascript" src="factory/radiobtn_checkbox_Services.js"></script>
   <script type="text/javascript" src="factory/baranggayFactory.js"></script>
   <script type="text/javascript" src="factory/taxFactory.js"></script>
   <script type="text/javascript" src="factory/BrgyResidentServices.js"></script>
   <script type="text/javascript" src="factory/reportServices.js"></script>
   <script type="text/javascript" src="factory/currentUser.js"></script>
   <script type="text/javascript" src="factory/contactFactory.js"></script>
   <script type="text/javascript" src="factory/businessServices.js"></script>
   <script type="text/javascript" src="factory/regionServices.js"></script>
   <script type="text/javascript" src="factory/housefactory.js"></script>
   <script type="text/javascript" src="factory/TranscendsFactory.js"></script>
   <script type="text/javascript" src="factory/FamiliesFactory.js"></script>
   <script type="text/javascript" src="factory/sitioPurokFactory.js"></script>
   <script type="text/javascript" src="factory/SurveyReportFactory.js"></script>
   <script type="text/javascript" src="factory/businessPermitFactory.js"></script>
   <script type="text/javascript" src="factory/EstablishmentsFactories.js"></script>
   <script type="text/javascript" src="factory/searchitemsFactory.js"></script>

   <!-- common controllers -->

   <script type="text/javascript" src="controller/regionsCtrl.js"></script>
   <script type="text/javascript" src="controller/officialsAccountCtrl.js"></script>
   <script type="text/javascript" src="controller/reportCtrl.js"></script>
   <script type="text/javascript" src="controller/provinceCtrl.js"></script>
   <script type="text/javascript" src="controller/navbarCtrl.js"></script>
   <script type="text/javascript" src="controller/clearanceCtrl.js"></script>
   <script type="text/javascript" src="controller/loginCtrl.js"></script>
   <script type="text/javascript" src="controller/generatebrgyIDS.js"></script>
   <script type="text/javascript" src="controller/registerCtrl.js"></script>
   <script type="text/javascript" src="controller/judicialCtrl.js"></script>
   <script type="text/javascript" src="controller/residentCtrl.js"></script>
   <script type="text/javascript" src="controller/businesspermitCtrl.js"></script>
   <script type="text/javascript" src="controller/addmemberCtrl.js"></script>
   <script type="text/javascript" src="controller/houseHoldCtrl.js"></script>
   <script type="text/javascript" src="controller/seniorCitizenCtrl.js"></script>
   <script type="text/javascript" src="controller/seventyninemonth.js"></script>
   <script type="text/javascript" src="controller/transcendsCtrl.js"></script>
   <script type="text/javascript" src="controller/familiesCtrl.js"></script>
   <script type="text/javascript" src="controller/sitioPurokCtrl.js"></script>
   <script type="text/javascript" src="controller/surveyReport.js"></script>
   <script type="text/javascript" src="controller/barangayreportCtrl.js"></script>
   <script type="text/javascript" src="controller/generalSurvey.js"></script>

   <!-- common admin controllers -->

   <script type="text/javascript" src="controller/adminRegionCtrl.js"></script>
   <script type="text/javascript" src="controller/adminProvinceCtrl.js"></script>
   <script type="text/javascript" src="controller/adminMunicipalCtrl.js"></script>


   <script type="text/javascript" src="directives/directives.js"></script>
   <script type="text/javascript" src="directives/dirPagination.js"></script>
   <script type="text/javascript" src="filters/filters.js"></script>
   <script type="text/javascript" src="vendor/timepickerdirective.js"></script>

</body>
    <script>

    $(document).ready(function () {


      var trigger = $('.hamburger'),
          overlay = $('.overlay'),
         isClosed = false;

        trigger.click(function () {
          hamburger_cross();
        });

        function hamburger_cross() {

          if (isClosed == true) {
            overlay.hide();
            trigger.removeClass('is-open');
            trigger.addClass('is-closed');
            isClosed = false;
          } else {
            overlay.show();
            trigger.removeClass('is-closed');
            trigger.addClass('is-open');
            isClosed = true;
          }
      }

  $('[data-toggle="offcanvas"]').click(function () {
        $('#wrapper').toggleClass('toggled');
  });
});
    // very simple to use!
    $(document).ready(function() {
      $('.js-activated').dropdownHover().dropdown();
    });
  </script>
</html>
