<!-- Navigation -->
<nav id="hideloadover" class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="navbarCtrl">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/home">
          <img id="Hello" src="logoBeST.png "class="img-rounded"  style="height: 125%; width: 20%;">
        </a>
    </div>

    <!-- Top Menu Items -->

    <ul class="nav navbar-right top-nav">
    <a href=""> <li ng-show="error" class="navbar-text" style="color: white;">{{error}}</li></a>
          <form class="navbar-form navbar-left">
                    <input type="text" class="form-control"  ng-model="qrvalue" placeholder="Enter the QR value here">
        </form>
       <li ng-if="!UserAcount"><a href="" ng-click="login_modal('md')"> Login </a></li>
    </ul>
</nav>
<br>
<br>
<br>
<div class="container">
    <div class="row">
    <div class="jumbotron">

            <h3>Welcome to BeST (Barangay e-Systems and Tools)</h3>
  <p>The Barangay e-Systems and Tools (BeST) is an ICT Tool to provide the
community with a complete and easy to use computer hardware and
software solutions for planning, monitoring and document generation of
the barangay. It empowers the officials with an information system to
help manage the day to day activities.</p>
            <p><a ng-click="login_modal('md')" class="btn btn-primary btn-md" href="" role="button">Click here to login &raquo;</a></p>

    </div>

        <div class="row">
          <!-- Example row of columns -->
            <div class="col-md-4">
              <h2>Resident</h2>
<p>The Residents Records System contains the residents profile of the
barangay constituents. It generates the Barangay Clearance and
Barangay IDs.</p>
              <p><a ng-click="login_modal('md')" class="btn btn-default" href="" role="button">View details &raquo;</a></p>
            </div>

            <div class="col-md-4">
              <h2>Business</h2>
<p>The Business Records System contains the business profile of the
various establishments in the barangay. It generates barangay business
permits</p>
              <p><a ng-click="login_modal('md')" class="btn btn-default" href="" role="button">View details &raquo;</a></p>
           </div>
            <div class="col-md-4">
              <h2>Judicial</h2>
<p>The Judicial Management system monitors Lupon cases and gives up to
date status of the barangay complaints.</p>
              <p><a ng-click="login_modal('md')" class="btn btn-default" href="" role="button">View details &raquo;</a></p>
            </div>
          </div>

        </div>

    </div>
</div>
<hr>
<footer>
  <p class="text-center">&copy; BeST {{SYear}}</p>
</footer>


