<style type="text/css">
  #google-map-div { height: 350px; border: 2px solid #ccc;}
</style>
<form name="officialsform" novalidate>
<div class="panel panel-default">
        <div class="panel-heading">
            <div class="pull-right">
                 <a href="" ng-click="cancel()"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
            <h4>Household Profile</h4>
        </div>
        <div class="panel-body">
        <div class="well">
          <div class="row">
              <div class="col-md-6">

                  <label class="control-label" for="position"> Interviewer: </label>

                        <div ng-if="searchhide == true">
                            <input ng-model="household.searchStr" type="text"class="form-control" ng-model-options="{debounce: 1000}"/>
                        </div>

                        <div class="list-group">

                          <div class="list-group-item" href="#" ng-repeat="seachresult in resultsearchfound.resdata"  id="{{seachresult._id}}">
                              <span ng-if="searchhide == false" class="btn btn-warning btn-sm">Selected</span>
                              <button ng-if="searchhide == true" class="btn btn-warning btn-sm"  ng-click="selectthisitem(seachresult)">Select</button>

                                  {{seachresult.fullname}}

                                <span ng-if="searchhide == false" href="#" class="pull-right" ng-click="showsearch()">
                                  <button class="btn btn-success btn-sm">change</button>
                                </span>
                                <span ng-if="searchhide == true" href="#" class="pull-right" ng-click="viewthis()">
                                  <button class="btn btn-success btn-sm">view</button>
                                </span>
                          </div>

                        </div>

                  </div>

              <div class="col-md-6">

                    <label>Sitio/Purok : </label>
                    <br>
                           <ui-select ng-model="household.brgy_Sitiopurok" theme="select2" on-select="someFunction($item, $model)" ng-disabled="disabled" style="width: 250px;" title="Choose a person">
                            <ui-select-match placeholder="Select Sitio/Purok Name">{{$select.selected.sitioPurokname}}</ui-select-match>
                            <ui-select-choices repeat="brgy_Sitiopurok._id +', '+ brgy_Sitiopurok.sitioPurokname as brgy_Sitiopurok in GetAllSitioPuroklist | propsFilter: {sitioPurokname: $select.search}">
                            <div ng-bind-html="brgy_Sitiopurok.sitioPurokname | highlight: $select.search"></div>
                            </ui-select-choices>
                          </ui-select>

              </div>

          </div>
          <div class="row">


          </div>

        </div>
          <div class="well">
                  <div class="row" style="margin-bottom: 20px;">
                      <div class="col-md-6">
                        <label> Contact No. : </label>
                        <br>
                        <textarea class="form-control" ng-model="household.contactno" style="width: 250px; resize: none;"></textarea>
                      </div>
                      <div class="col-md-6">
                        <label>Email Address : </label>
                        <br>
                        <textarea class="form-control" ng-model="household.emailaddress" style="width: 250px; resize: none;"></textarea>
                      </div>
                  </div>
                  <div class="row" style="margin-bottom: 20px;">
                      <div class="col-md-6">
                      <label>longitude : </label>
                        <input type="text" class="form-control google-map-input" ng-model="household.longitude" ng-pattern="onlyNumbers"/>
                      </div>
                      <div class="col-md-4">
                      <label>latitude : </label>
                        <input type="text" class="form-control google-map-input" ng-model="household.latitude" ng-pattern="onlyNumbers"/>
                      </div>
                      <div class="col-md-1">
                        <button class="btn btn-info btn-sm" ng-disabled="!household.longitude || !household.latitude" ng-click="viewgooglemap(household.latitude, household.longitude)">View Map</button>
                      </div>
                  </div>
                  <div ng-show="mapbtnclicked" id="google-map-div" class="row" style="margin-bottom: 20px;"></div>
                  <div class="row" style="margin-bottom: 20px;">
                      <div class="col-md-6">

                            <label>House Head : </label>
                            <br>
                                   <ui-select ng-model="household.headmember" theme="select2" on-select="someFunction($item, $model)" ng-disabled="disabled" style="width: 250px;" title="Choose a person">
                                    <ui-select-match placeholder="Firstname Middlename Lastname">{{$select.selected.fullname}}</ui-select-match>
                                    <ui-select-choices repeat="headmember._id +', '+ headmember.fullname as headmember in children_me | propsFilter: {fullname: $select.search, prof_lastname: $select.search}">
                                    <div ng-bind-html="headmember.fullname | highlight: $select.search"></div>
                                    </ui-select-choices>
                                  </ui-select>
                      </div>
                      <div class="col-md-2">
                            <label>With C.R.?</label><br>
                            <label class="radio inline" for="Yes">
                                <input type="radio" name="CR" ng-model="household.CR" id="Yes" value="Yes">
                                Yes
                            </label>
                            <label class="radio inline" for="No">
                                <input type="radio" name="CR" ng-model="household.CR" id="No" value="No">
                                No
                            </label>
                      </div>
                      <div class="col-md-2">
                            <label> With Water? </label>
                            <br>
                            <label class="radio inline" for="Yes">
                                <input type="radio" name="Water" ng-model="household.Water" id="Yes" value="Yes">
                                Yes
                            </label>
                            <label class="radio inline" for="No">
                                <input type="radio" name="Water" ng-model="household.Water" id="No" value="No">
                                No
                            </label>
                      </div>
                      <div class="col-md-2">
                            <label> With Electricity? </label>
                            <br>
                            <label class="radio inline" for="Yes">
                                <input type="radio" name="Electricity" ng-model="household.Electricity" id="Yes" value="Yes">
                                Yes
                            </label>
                            <label class="radio inline" for="No">
                                <input type="radio" name="Electricity" ng-model="household.Electricity" id="No" value="No">
                                No
                            </label>
                      </div>
                       <br>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                       <label>Add the Members below : </label>
                              <table class="table">
                                <tr>
                                    <th>Name</th>
                                    <th>Relationship</th>
                                    <th><button class="btn btn-success btn-sm " ng-click="addNewChoice()"> Add Fields </button></th>
                                </tr>
                                <tr data-ng-repeat="groupmember in household.groupmember">
                                    <td>
                                        <ui-select ng-model="groupmember.demographic_name" theme="select2" on-select="someFunction($item, $model)" ng-disabled="disabled" style="width: 250px;" title="Choose a person">
                                        <ui-select-match placeholder="Firstname Middlename Lastname">{{$select.selected.fullname}}</ui-select-match>
                                        <ui-select-choices repeat="demographic_name._id +', '+ demographic_name.fullname as demographic_name in children_me | propsFilter: {fullname: $select.search, prof_lastname: $select.search}">
                                          <div ng-bind-html="demographic_name.fullname | highlight: $select.search"></div>
                                        </ui-select-choices>
                                      </ui-select>
                                    </td>
                                    <td>
                                     <input type="text" class="form-control" ng-model="groupmember.demographic_relationship" />
                                    </td>
                                    <td>
                                        <button class="btn btn-danger btn-sm " ng-click="removeChoice(demography)">Remove</button>
                                    </td>
                                </tr>
                              </table>
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-md-12">
                              <label>Add the house hold member below if he/she is not resident in this barangay :</label>

                              <table class="table">
                                <tr>
                                    <th>Name</th>
                                    <th>Relationship</th>
                                    <th>Address</th>
                                    <th><button class="btn btn-success btn-sm " ng-click="addNewfield()"> Add Fields </button></th>
                                </tr>
                                <tr data-ng-repeat="groupnotresidentmember in household.groupnotresidentmember">
                                    <td>
                                    <input type="text" class="form-control" ng-model="groupnotresidentmember.notresidentmember_name" />
                                    </td>
                                    <td>
                                     <input type="text" class="form-control" ng-model="groupnotresidentmember.demographic_relationship" />
                                    </td>
                                    <td>
                                     <input type="text" class="form-control" ng-model="groupnotresidentmember.demographic_address" />
                                    </td>
                                    <td>
                                        <button class="btn btn-danger btn-sm " ng-click="removefield(demography)"> Remove </button>
                                    </td>
                                </tr>
                              </table>
                      </div>
                  </div>
          </div>
        </div>
        <div class="panel-footer">


                <button ng-hide="household._id" class="btn btn-success btn-sm" ng-click="addhouseholdgroup(groupnotresidentmember, groupmember)"> Save <span class="glyphicon glyphicon-floppy-save"></span> </button>
                <button ng-hide="!household._id" class="btn btn-success btn-sm" ng-click="updatehousehold(household._id)"> Update <span class="glyphicon glyphicon-floppy-save"></span> </button>
                <button ng-hide="!household._id" class="btn btn-danger btn-sm" ng-click="deletehousehold(household._id)"> Delete <span class="glyphicon glyphicon-trash"></span> </button>

        </div>

    </div>
</form>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7kkzSV6hvbkgP2BU9QDvfMpj8pO17_a8&callback=initMap">
</script>

<script type="text/javascript">
  // disallow letters and certain symbols to be input in longitude and latitude
  $(".google-map-input").keydown(function (e) {
      // Allow: backspace, delete, tab, escape, enter and .
      if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
           // Allow: Ctrl+A, Command+A
          (e.keyCode == 65 && ( e.ctrlKey === true || e.metaKey === true ) ) ||
           // Allow: home, end, left, right, down, up
          (e.keyCode >= 35 && e.keyCode <= 40)) {
               // let it happen, don't do anything
               return;
      }
      // Ensure that it is a number and stop the keypress
      if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
          e.preventDefault();
      }
  });
</script>