<div class="panel panel-default">
<div class="panel-headiung">
    <div class="well">
        <div class="pull-right">
             <a href="" ng-click="cancel()"><span class="glyphicon glyphicon-remove"></span></a>
        </div>
      <h4>{{headingregion}}</h4> </div>
    </div>
  <div class="panel-body">
  <div class="well">
    <input type="text" ng-model="search" class="form-control search-query" placeholder="Search the Name of the Region&hellip;" />

    <br>
    <accordion close-others="oneAtATime">
        <accordion-group is-open="status.open" ng-repeat="getprovince in getprovinceslist | filter:search" ng-click="getprovinceresidents(getprovince._id, getprovince.province_name)">
            <accordion-heading >
                {{getprovince.province_name}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
            </accordion-heading>



                  <input type="text" ng-model="residentsearch" class="form-control search-query" placeholder="Search the Name of the Region&hellip;" />

              <div class="text-center">
                  <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="dirPagination.tpl.html"></dir-pagination-controls>
              </div>
               <div class="table-responsive">
                              <table class="table">
                              <tr>
                                  <th>Full Name</th>
                                  <th>Barangay</th>
                                  <th>Municipality/City</th>
                                  <th>Province</th>
                                 <!--  <th>Action</th> -->
                              </tr>
                              <tr dir-paginate="residentprof in getprovinceresident | filter:residentsearch | itemsPerPage: pageSize" current-page="currentPage">

                                  <td>{{residentprof.fullname}}</td>
                                  <td>{{residentprof.barangay.barangay_name}}</td>
                                  <td>{{residentprof.municipality.municipality_name}}</td>
                                  <td>{{residentprof.province.province_name}}</td>
                                  <td>
                                <!--   <a ng-click="allresidentview('lg', region._id, region.region_name)" class="btn btn-default btn-sm">
                                  <span class="glyphicon glyphicon-refresh" ></span> Show </a><br> -->
                                  </td>
                              </tr>

                              </table>
                      </div>
        </accordion-group>
      </accordion>
  </div>
</div>
</div>