<div class="panel panel-default">
    <div class="panel-heading">
    <h4>{{headingregion}} Resident List</h4>
    </div>
    <div class="panel-body">

    <div class="well" ng-repeat="residentprof in residentlistview">
                    {{residentprof.fullname}}
    </div>

    </div>
    <div class="panel-footer">

    </div>
</div>