<div class="panel panel-deafult">
    <div class="panel-heading">
    <h4>List of Senior Citizen [{{seniorcitizen.length}}]</h4>
    </div>
<div class="panel-body">
<div class="table-responsive">
        <input type="text" ng-model="search" class="form-control search-query" placeholder="Search the Name of a senior citizen&hellip;" />
<hr>
                <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Birthdate</th>
                    <th>Age</th>
                    <th>deceased</th>
                    <th>Action</th>
                </tr>
                <tr ng-repeat="senior in seniorcitizen | filter:search">
                    <td>{{senior.fullname}}</td>
                    <td>{{senior.bdate | date}}</td>
                    <td>{{calculate_age(senior.bdate)}} years old</td>
                    <td>No</td>
                    <td>
                        <button class="btn btn-info btn-sm" ng-click="viewmember('lg', senior.id)"> View </button>
                        <!-- <button class="btn btn-danger btn-sm" ng-click="deceased(senior.id)"> deceased </button> -->
                    </td>
                    <td>

                    </td>
                </tr>

                </table>
        </div>
</div>
</div>