 <div ng-show="message_access" class="alert alert-success row">{{message_access}}</div>
<br>
<button class="btn btn-success btn-sm" ng-click="addofficialaccount('md')"><span class="glyphicon glyphicon-user"> </span> Add Official's Account</button>
<div class="panel panel-default">
    <div class="panel-heading">

    </div>
    <div class="panel-body">
     <table class="table table-hover">
        <thead>
          <tr>
            <th>Username</th>
            <th>Created By</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="officials in residentofficialsaccount">
            <td>{{officials.username}}</td>
            <td>{{officials.createdbyadmin}}</td>
            <td>
                <button class="btn btn-success btn-sm" ng-click="editofficialaccount('lg', officials._id)"><span class="glyphicon glyphicon-edit"></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="panel=footer">

    </div>
</div>