
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="pull-right">
            <a ng-show="UserAcount.accesscontrol === 'barangayaccesscontrol'"
            ng-click="addfamily('lg')" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-plus-sign" ></span> Add New Family</a>
        </div>
    <h4>Family List [{{allfamiies.length}}]</h4>
    </div>
    <div class="panel-body">
        <input type="text" ng-model="search" class="form-control search-query" placeholder="Search the Name of a person&hellip;" />
    <hr>
    <div class="pull-right">
         <button ng-hide="pagehide == 1" ng-class="{ disabled : prevdisable == 1 }" class="btn btn-sm btn-success" ng-click="previouspage(page - 1, allfamiies.length)"><span class="glyphicon glyphicon-chevron-left" ></span></button>
         <button ng-hide="pagehide == 1" ng-class="{disabled : nextdisable == 1}" class="btn btn-sm btn-success" ng-click="nextpage(page + 1, allfamiies.length)"><span class="glyphicon glyphicon-chevron-right" ></span> </button>
    </div><br><br>
    <accordion close-others="oneAtATime">
            <accordion-group is-open="status.open" ng-repeat="families in getlimitfamily | filter:search">
                <accordion-heading>
                    <a href="#" >{{gethouseheadname(families.Father)}}</a>
                        <div class="pull-right" >
                            <a href="#" ng-click="editfamily('lg', families._id)"> <span class="glyphicon glyphicon-edit"></span> Edit </a>&hellip;&hellip;
                                    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                        </div>



                </accordion-heading>
                   <div class="table-responsive">
                       <div class="well">
                             <strong>Father's Name : </strong><a href="#" ng-click="viewmember('lg', getresidentId(families.Father))"> {{gethouseheadname(families.Father)}} </a><br>
                              <strong>Mother's Name : </strong><a href="#" ng-click="viewmember('lg', getresidentId(families.Mother))"> {{gethouseheadname(families.Mother)}} </a>
                        </div>
                        <h4>List of Present Children ({{families.groupmember.length}})</h4>
                        <table class="table">
                        <tr>
                            <th>Name</th>
                            <th>Relationship</th>
                            <th>Action</th>
                        </tr>
                        <tr ng-repeat="familymember in families.groupmember">
                            <td>{{getresidentname(familymember.demographic_name)}}</td>
                            <td>{{familymember.demographic_relationship}}</td>
                            <td>
                            <button class="btn btn-info btn-sm" ng-click="viewmember('lg', getresidentId(familymember.demographic_name))">view</button>
                            </td>
                        </tr>
                        </table>
                   </div>
            </accordion-group>
          </accordion>
    </div>
</div>