<div class="panel panel-default">
            <div class="panel-heading">
             <div class="searchbox  pull-right">
                <div class="col-md-12">
            <input type="text" ng-model="search" class="form-control search-query" placeholder="Search&hellip;" />
                </div>
            </div>

                <a ng-click="openmodal('md')" class="btn btn-default pull-right"><span class="glyphicon glyphicon-plus-sign"></span> Add New Region</a>

        <h4>List of Regions ({{region_list.length}})</h4>

        </div>

        <div class="panel-body">
        <div class="row">
              <div class="text-center">
                  <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="dirPagination.tpl.html"></dir-pagination-controls>
              </div>
        </div>
          <div class="row">

         <div class="col-md-4" dir-paginate="region in region_list | filter:search | itemsPerPage: pageSize" current-page="currentPage">
            <div class="panel panel-warning" >
               <div class="panel-heading">
                  <h3 class="panel-title">{{region.region_name}}</h3>
               </div>
               <div class="panel-body">
                       <div class="row">
                                <div class="col-xs-7">

                                </div>

                                <div class="col-xs-5">

                                </div>
                       </div>

                       <div class="row">

                       </div>
               </div>
               <div class="panel-footer text-center">

                    <a href="/viewprovinces/{{region._id}}" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-eye-open"></span> View Provinces </a>
                    <a ng-click="openmodal('md', region._id)" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-edit"></span> edit </a>

               </div>
            </div>
          </div>


        </div>
    </div>