<div class="panel panel-default">
 <form name="userForm" >
        <div class="panel-heading">
              <div class="pull-right">
               <a href="" ng-click="ok()"><span class="glyphicon glyphicon-remove"></span></a>
              </div>
                  <h2>{{ regionHeading }}</h2>
        </div>
        <div class="panel-body">

              <div ng-show="error" class="alert alert-danger col-md-12">{{error}}</div>
              <br>

              <label for="usr">Name of Region : </label>
              <div class="form-group" ng-class="{error: region.region_name.$invalid && !region.region_name.$pristine}">
                          <input id="region_name" class="form-control" name="region_name" ng-model="region.region_name" type="text"  />
              </div>

             <div class="container">
              <a data-html="true" title="<b>Terms &amp; Conditions</b> <br><br> Welcome to our website. If you continue to browse and use this website, you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern [business name]'s relationship with you in relation to this website. If you disagree with any part of these terms and conditions, please do not use our website." rel='tooltip' data-toggle="tooltip" data-placement="left">Terms &amp; Conditions</a>
             </div>
             <br>
              <div class="container">
                  <label class="checkbox inline" for="tnc">
                      <input name="tnc"  id="tnc" type="checkbox" ng-model="region.tnc" required />Accept
                  </label>
              </div>
     </div>
     <div class="panel-footer">
                   <a href="" ng-click="cancel()"class="btn btn-warning"> Cancel </a>
                        <button ng-hide="region._id"ng-click="saveregion()" ng-disabled="!region.tnc || myForm.$invalid"
                                class="btn btn-primary"> Save </button>
                        <button ng-if="region._id" ng-click="Updateregion(region._id)" ng-disabled="!region.tnc || myForm.$invalid"
                                class="btn btn-primary"> Update </button>

      </div>
   </form>
  </div>
<script language="javascript">
$(document).ready(function(){
    $("[rel='tooltip']").tooltip();

    })
</script>