<div class="well">
<h4>List of 0-79 Months Child [{{seventyninemonth.length}}]</h4>
    <div class="table-responsive">

        <input type="text" ng-model="search" class="form-control search-query" placeholder="Search the Name of a child&hellip;" />
<hr>
    <div class="pull-right">
         <button ng-hide="pagehide == 1" ng-class="{ disabled : prevdisable == 1 }" class="btn btn-sm btn-success" ng-click="previouspage(page - 1, seventyninemonth.length)"><span class="glyphicon glyphicon-chevron-left" ></span></button>
         <button ng-hide="pagehide == 1" ng-class="{disabled : nextdisable == 1}" class="btn btn-sm btn-success" ng-click="nextpage(page + 1, seventyninemonth.length)"><span class="glyphicon glyphicon-chevron-right" ></span> </button>
    </div><br><br>
            <table class="table">
            <tr>
                <th>Name</th>
                <th>Birthdate</th>
                <th>Age</th>
                <th>Action</th>
            </tr>
            <tr ng-repeat="kids in getlimitseventyninemonths | filter:search">
                <td>{{kids.fullname}}</td>
                <td>{{kids.bdate | date}}</td>
                <td>{{getAgeandremainingmonth(kids.bdate)}}</td>
                <td>
                    <button class="btn btn-info btn-sm" ng-click="viewmember('lg', kids.id)"> View </button>
                    <!-- <button class="btn btn-danger btn-sm" ng-click="deceased(senior.id)"> deceased </button> -->
                </td>
                <td>

                </td>
            </tr>
            </table>
    </div>
</div>