<form name="userForm" class="form-inline" novalidate>
<div class="panel panel-default">
    <div class="panel-heading">
                <div class="pull-right">
                    <a href="" ng-click="cancel()"><span class="glyphicon glyphicon-remove"></span></a>
                </div>
            <h3>{{getBusinessOwner.ownerfullname}}</h3>
    </div>
    <div class="panel-body ">
    <div class="well">

        <div class="row" style="margin-top: 15px;">
            <div class="col-md-4">
                <div class="control-group" ng-class="{error: establishments.date_started.$invalid && !establishments.date_started.$pristine}">
                    <label for="b_date">Business Date Started</label>
                    <div class="controls">
                       <input type="text" class="form-control" datepicker-popup="MMMM-dd-yyyy" ng-model ="establishments.date_started" is-open = "establishments.date_started.open" ng-click = "establishments.date_started.open = true" min-date="minDate" max-date="'maxDate'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                    </div>
                </div>
            </div>
        </div>
        <br />

        <div class="row">

            <div class="col-md-6">
                <div class="control-group" ng-class="{error: establishments.business_type.$invalid && !establishments.business_type.$pristine}">
                    <label class="control-label" for="business_type">Type of the Business</label>
                    <div class="controls">
                        <input id="business_type" name="business_type" ng-model="establishments.business_type" type="text"  class="form-control" style="width: 250px;" required="required" capitalize-first/>
                        <p ng-show="userForm.business_type.$invalid && !userForm.business_type.$pristine" class="help-block" style="color: red; "> * Must enter the business type</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 15px;">
            <div class="col-md-6">
                <div class="control-group" ng-class="{error: establishments.business_name.$invalid && !establishments.business_name.$pristine}">
                    <label class="control-label" for="business_name">Name of the Business</label>
                    <div class="controls">
                        <input id="business_name" name="business_name" ng-model="establishments.business_name" type="text"  class="form-control" style="width: 250px;" required="required" capitalize-first/>
                        <p ng-show="userForm.business_name.$invalid && !userForm.business_name.$pristine" class="help-block" style="color: red; "> * Must enter the business name</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
        <br>
            <div class="control-group">
                <label> Sitio : </label><br>
                   <ui-select ng-model="establishments.business_address" theme="select2" on-select="someFunction($item, $model)" ng-disabled="disabled" style="width: 200px;" title="Choose a person">
                    <ui-select-match placeholder="Select Sitio/Purok Name">{{$select.selected.sitioPurokname}}</ui-select-match>
                    <ui-select-choices repeat="business_address._id +', '+ business_address.sitioPurokname as business_address in GetAllSitioPuroklist | propsFilter: {sitioPurokname: $select.search}">
                    <div ng-bind-html="business_address.sitioPurokname | highlight: $select.search"></div>
                    </ui-select-choices>
                  </ui-select>
                  <br>
            </div>
            <br>
        </div>
        <br>
        <div class="row">
        <br>
        <center>
            <div class="wrap">
                <form>
                    <label for="first">Webcam</label>
                    <input id="first" type="radio" name="content" ng-model="establishments.content" value="first">
                   &nbsp; &nbsp; &nbsp; &nbsp;
                    <label for="other">Upload Logo</label>
                    <input id="other" type="radio" name="content" ng-model="establishments.content" value="other">
                </form>
            </div>
        </center>
    </div>
    <br>
    <hr />

    <div class="row" ng-show="establishments.content== 'first'">
        <div class="col-lg-4">
            <div class="well pull-left" style="height: 240px; width: 240px;">
                <div id="actual_image"></div><br>
                <center>
                    <span ng-if="!establishments.imageuri " class="btn btn-success fileinput-button">
                                    <i class="glyphicon glyphicon-camera"></i>
                                    <span>Click to Capture</span>
                                     <input type="submit" ng-click="take_snapshot()">
                    </span>
                    <span ng-show="establishments.imageuri" class="btn btn-success fileinput-button">
                                    <i class="glyphicon glyphicon-camera"></i>
                                    <span>Change Logo</span>
                                    <input type="submit" ng-click="take_snapshot()">
                    </span>
                </center>
            </div>
        </div>

        <div class="col-lg-4"></div>

        <div class="col-lg-4">

            <div ng-hide="establishments._id" id="capture_image" class="well pull-right"  style="height: 230px; width: 240px; color: green;">
                   Your captured image will appear here...
            </div>
            <div class="well pull-right" ng-hide="!establishments._id" style="height: 240px; width: 240px;">
                   <img id="Hello" src="{{establishments.imageuri}}" ng-model="establishments.imageuri">
            </div>

        </div>

    </div>

         <!-- Configure a few settings and attach camera -->
            <script language="JavaScript">
                Webcam.set({
                    width: 200,
                    height: 160,
                    image_format: 'jpeg',
                    jpeg_quality: 72
                });
                Webcam.attach( '#actual_image' );
            </script>

            <!-- A button for taking snaps -->

        <div class="row" ng-show="establishments.content == 'other'">

            <div class="col-md-6">

                           <image-crop
                             data-width="200"
                             data-height="200"
                             data-shape="square"
                             data-step="imageCropStep"
                             data-result="establishments.imageuri"
                             ng-show="showImageCropper = true"
                           ></image-crop>
                            <p ng-show="establishments.imageuri">Wanna start over? &rarr; <a href="" ng-click="establishments.imageuri = null;imageCropStep=1" class="btn btn-info">Reset</a></p>
            </div>
            <div class="col-md-6">
                <center>
                    <div ng-show="establishments.imageuri">
                         <img ng-src="{{ establishments.imageuri }}" alt="The Cropped Image">
                         <p style="color: green;">Actual Profile Picture</p>
                         <input type="hidden" class="form-control" ng-model="establishments.imageuri" value="establishments.imageuri" />
                    </div>
               </center>
            </div>
       </div><br /><br />
    </div>
    <div class="control-group" style="margin-top: 15px;">
        <div class="container">
            <a data-html="true" title="<b>Terms &amp; Conditions</b> <br><br> Welcome to our website. If you continue to browse and use this website, you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern [business name]'s relationship with you in relation to this website. If you disagree with any part of these terms and conditions, please do not use our website." rel='tooltip' data-toggle="tooltip" data-placement="right">Terms &amp; Conditions</a>
            <br>
            <label class="checkbox inline" for="tnc">
                <input name="tnc" class="form-control" id="tnc" type="checkbox" ng-model="establishments.tnc"  required /> Accept
            </label>
            <br />
            <div ng-show="error" class="alert alert-danger col-md-6">{{error}}</div>

        </div>
    <br />
    </div>
    <div class="panel-footer">
        <button ng-if="!establishments._id" ng-click="saveestablishment()" ng-disabled="!establishments.tnc"
                class="btn btn-success"> Save <span class="glyphicon glyphicon-floppy-save"></span> </button>
        <button ng-click="updateEstablishment(establishments._id)"
                ng-if="establishments._id"
                class="btn btn-success"> Update <span class="glyphicon glyphicon-floppy-save"></span>
    </div>
</div>
</form>
<script language="javascript">
$(document).ready(function(){
    $("[rel='tooltip']").tooltip();

    })
</script>