<form name="userForm" class="form-inline" novalidate>
    <div class="panel panel-default">
        <div class="panel-heading">
                    <div class="pull-right">
                        <a href="" ng-click="cancel()"><span class="glyphicon glyphicon-remove"></span></a>
                    </div>

                            <h4>{{getBusinessOwner.ownerfullname}}</h4>

        </div>
        <div class="panel-body">

            <div class="col-md-5">

                <div class="row" style="margin-top: 15px;">
                    <div class="control-group col-md-12">
                        <label class="control-label col-md-12" for="control_number">Control #</label>
                        <div class="controls col-md-12">
                           <input class="form-control" name="control_number" ng-model="businesspermit.controlnumber" style="width: 100%;">
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 15px;">
                    <div class="control-group col-md-12">
                        <label class="control-label col-md-12" for="certification_fee">Certification Fee</label>
                        <div class="controls col-md-12">
                           <input class="form-control" name="certification_fee" ng-model="businesspermit.certificationfee" style="width: 100%;">
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 15px;">
                    <div class="control-group col-md-12">
                        <label class="control-label col-md-12" for="or_fee">O.R. #</label>
                        <div class="controls col-md-12">
                           <input class="form-control" name="or_fee" ng-model="businesspermit.ornumber" style="width: 100%;">
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 15px;">
                    <div class="control-group col-md-12">
                        <label class="control-label col-md-12" for="community_tax_no">Community Tax No.</label>
                        <div class="controls col-md-12">
                           <input class="form-control" name="community_tax_no" ng-model="businesspermit.com_tax_no" style="width: 100%;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="row">

                    <div class="control-group col-md-6">
                        <label class="control-label col-md-12" for="business_owner"> Date of Issued: </label>

                           <input type="text" class="form-control" datepicker-popup="MMMM-dd-yyyy" ng-model ="businesspermit.Issued" is-open = "businesspermit.Issued.open" ng-click = "businesspermit.Issued.open = true" min-date="minDate" max-date="'maxDate'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                    <br>
                    </div>

                    <div class="control-group col-md-6">
                        <label class="control-label col-md-12" for="business_owner"> Expiration Period : </label>

                           <input type="text" class="form-control" datepicker-popup="MMMM-dd-yyyy" ng-model ="businesspermit.date_end" is-open = "businesspermit.date_end.open" ng-click = "businesspermit.date_end.open = true" min-date="minDate" max-date="'maxDate'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                    <br>
                    </div>

                </div>
                <div class="row">
                <br>
                    <div class="control-group col-md-12">
                        <div ng-init="businesspermit.optnewrenewal='1'">
                            <span>Being applied for </span>
                            <label><input type="radio" name="optnewrenewal" ng-model="businesspermit.optnewrenewal" value="1"> New</label> /
                            <label><input type="radio" name="optnewrenewal" ng-model="businesspermit.optnewrenewal" value="2"> Renewal</label>
                            <span> of the corresponding Mayor's permit been found to be.</span>
                        </div>
                        <div ng-init="businesspermit.optpermittype='1'">
                             <div class="radio" style="margin-top: 15px;">
                                <input type="radio" name="optpermittype" ng-model="businesspermit.optpermittype" value="1" style="float: left;">
                                <label style="display: block; margin-left: 20px;">
                                    Complying with the provision of existing Barangay Ordinance rules and regulations being enforced in this Barangay.
                                </label>
                            </div>
                            <div class="radio" style="margin-top: 15px;">
                                <input type="radio" name="optpermittype" ng-model="businesspermit.optpermittype" value="2" style="float: left;">
                                <label style="display: block; margin-left: 20px;">
                                    Partially complying with the provision of existing Barangay Ordinances, rules and regulations being enforced in this Barangay.
                                </label>
                            </div>
                            <div class="radio" style="margin-top: 15px;">
                                <input type="radio" name="optpermittype" ng-model="businesspermit.optpermittype" value="3" style="float: left;">
                                <label style="display: block; margin-left: 20px;">
                                    In view of the foregoing, this Barangay, thru the undersigned-
                                </label>
                            </div>
                            <div class="radio" style="margin-top: 15px;">
                                <input type="radio" name="optpermittype" ng-model="businesspermit.optpermittype" value="4" style="float: left;">
                                <label style="display: block; margin-left: 20px;">
                                    Interposes No objection for the issuance of the corresponding Mayors being applied for.
                                </label>
                            </div>
                            <div class="radio" style="margin-top: 15px;">
                                <input type="radio" name="optpermittype" ng-model="businesspermit.optpermittype" value="5" style="float: left;">
                                <label style="display: block; margin-left: 20px;">
                                    Recommended only the issuance of a 'Temporary Mayor's Permit' for not more than three (3) months and within that period requirements under existing Barangay ordinances, rules and regulations on that matter should be totally complied with, otherwise this Barangay would take the necessary actions, within legal bounds, to stop each continued operations.
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                <br>
                    <div class="control-group col-md-4" style="margin-left: 15px;">
                    <button class="btn btn-success btn-sm" ng-click="savepermit()"> Save <span class="glyphicon glyphicon-floppy-save"></span> </button>
<!--                      <button ng-click="generatePermitPDF()" ng-disabled="!businesspermit.controlnumber || !businesspermit.certificationfee || !businesspermit.ornumber || !businesspermit.com_tax_no" class="btn btn-danger"> Generate PDF
                            <span class="glyphicon glyphicon-circle-arrow-right"></span> -->
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>