<form name="userForm" class="form-inline" novalidate>
    <div class="panel panel-default">
            <div class="panel-heading">
                        <div class="pull-right">
                            <a href="" ng-click="cancel()"><span class="glyphicon glyphicon-remove"></span></a>
                        </div>
                    <button class="btn btn-success" ng-click="NewEstablishment('lg', getowner._id)"> New Establishment</button>
            </div>
            <div class="panel-body">
                <h4 class="text-center"> {{getowner.ownerfullname}} Business Establisment(s)</h4>
                <hr>

                <div class="row">

                      <div class="text-center">
                          <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="dirPagination.tpl.html"></dir-pagination-controls>
                      </div>

                        <div class="col-md-4" dir-paginate="establishments in getmyestablishments | filter:q | itemsPerPage: pageSize" current-page="currentPage">

                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h4 class="text-center">{{establishments.business_name}}</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="alert alert-succes">
                                       Business Type :  {{establishments.business_type}}<br>
                                       Sitio : {{getstioname(establishments.business_address)}}<br>
                                       <div ng-if="!establishments.haspermit.date_end" class="alert alert-danger"> No Business Permit Found. </div>
                                       <!-- show if already expired -->
                                       <div ng-if="getendDate(establishments.haspermit.date_end) <= datenow" class="alert alert-warning"> Expired : {{ establishments.haspermit.date_end | date }}</div>
                                       <!-- show if not yet expired  -->
                                        <div ng-if="getendDate(establishments.haspermit.date_end) > datenow" class="alert alert-success"> Expiration : {{ establishments.haspermit.date_end | date }}</div>
                                    </div>
                                </div>
                                <div class="panel-footer text-center">
                                    <button class="btn btn-info btn-sm" ng-click="editEstablishment('lg', getowner._id, establishments._id)"> <span class="glyphicon glyphicon-edit"></span> </button>
                                    <button class="btn btn-info btn-sm" ng-if="getendDate(establishments.haspermit.date_end) <= datenow || !establishments.haspermit" ng-click="createpermits('lg', establishments._id)"> Create Permit </button>
                                    <button class="btn btn-warning btn-sm" ng-click="generatePermitPDF(establishments._id, getowner._id)" ng-if="getendDate(establishments.haspermit.date_end) > datenow">
                                    <span class="glyphicon glyphicon-circle-arrow-down"></span> Generate </button>
                                </div>
                            </div>

                        </div>

                </div>

            </div>
        </div>
    </div>
</form>