<div class="panel panel-default">
    <div class="panel-heading">
            <div class="pull-right" ng-show="UserAcount.accesscontrol ==='barangayaccesscontrol'">
                 <button class="btn btn-success" ng-click="addnewowner('lg')">
                 <span class="glyphicon glyphicon-plus-sign"></span> Add new Business Owner </button>
            </div>
    <h3>Business Owner's List</h3>
    </div>
    <div class="panel-body">

        <input type="text" ng-model="search" class="form-control search-query" placeholder="Search the Name of the Owner&hellip;" />
<hr>
          <div class="table-responsive">
                <table class="table">
                <tr>
                    <th> Business Owner </th>
                    <th> Date Created </th>
                    <th> Date Updated </th>
                    <th ng-show="UserAcount.accesscontrol ==='barangayaccesscontrol'">Action</th>
                </tr>
                <tr ng-repeat="business in businesslist  | filter:search">
                      <td>{{business.ownerfullname}}</td>
                      <td>{{business.dateCreated}}</td>
                      <td>{{business.dateUpdated}}</td>
                      <td>

                      <button href="" ng-show="UserAcount.accesscontrol ==='barangayaccesscontrol'" ng-click="editbusiness('lg', business._id)" class="btn btn-sm btn-success" title="Update permit"> <span class="glyphicon glyphicon-edit"></span> </button>
                      <button href="" ng-show="UserAcount.accesscontrol ==='barangayaccesscontrol'" ng-click="deletebusiness(business._id)" class="btn btn-sm btn-danger" title="Delete permit"> <span class="glyphicon glyphicon-trash"></span> </button>
                      <button href="" ng-show="UserAcount.accesscontrol ==='barangayaccesscontrol'" ng-click="goestablishments('lg', business._id)" class="btn btn-sm btn-info" title="Print permit"> Establishmet(s) </button>

                    </td>
                </tr>

                </table>
        </div>
    </div>
    <div class="panel-footer">

    </div>
</div>