<form name="userForm" class="form-inline" novalidate>
<div class="panel panel-default">
    <div class="panel-heading">
                <div class="pull-right">
                    <a href="" ng-click="cancel()"><span class="glyphicon glyphicon-remove"></span></a>
                </div>
            <h3>{{formheading}}</h3>
    </div>
    <div class="panel-body ">
    <div class="well">
        <div class="row" style="margin-bottom: 15px;">
            <div class="col-md-6">
                <div class="control-group">
                    <label class="control-label" for="resident_owner_here">Resident in this Barangay?</label>
                    <div class="controls">
                        <label class="radio inline" for="Yes">
                            <input type="radio" name="resident_owner_here" ng-model="brgybusiness.resident_owner_here" id="yes" value="Yes"> Yes
                        </label>
                        <label class="radio inline" for="No">
                            <input type="radio" name="resident_owner_here" ng-model="brgybusiness.resident_owner_here" id="no" value="No"> No
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4" ng-if="brgybusiness.resident_owner_here === 'No' ">
                <div class="control-group" ng-class="{error: brgybusiness.prof_firstname.$invalid && !brgybusiness.prof_firstname.$pristine}">
                    <label class="control-label" for="prof_firstname">First Name</label>
                    <div class="controls">
                        <input id="prof_firstname" name="prof_firstname" ng-model="brgybusiness.prof_firstname" type="text" class="form-control" required="" capitalize-first/>
                    </div>
                    <p ng-show="userForm.prof_firstname.$invalid && !userForm.prof_firstname.$pristine" class="help-block" style="color: red;"> * Must enter Firstname</p>
                </div> <br />

                <div class="control-group" ng-class="{error: brgybusiness.prof_middle_name.$invalid && !brgybusiness.prof_middle_name.$pristine}">
                    <label class="control-label" for="prof_middle_name">Middle Name</label>
                    <div class="controls">
                        <input id="prof_middle_name" name="prof_middle_name" ng-model="brgybusiness.prof_middle_name" type="text"  class="form-control" required="" capitalize-first/>
                    </div>
                    <p ng-show="userForm.prof_middle_name.$invalid && !userForm.prof_middle_name.$pristine" class="help-block" style="color: red;"> * Must Enter Middlename</p>
                </div> <br />

                <div class="control-group" ng-class="{error: brgybusiness.prof_lastname.$invalid && !brgybusiness.prof_lastname.$pristine}">
                    <label class="control-label" for="prof_lastname">Last Name</label>
                    <div class="controls">
                        <input id="prof_lastname" name="prof_lastname" ng-model="brgybusiness.prof_lastname" type="text"  class="form-control" required="" capitalize-first/>
                        <p ng-show="userForm.prof_lastname.$invalid && !userForm.prof_lastname.$pristine" class="help-block" style="color: red; "> * Must enter Lastname</p>
                    </div>
                </div> <br />

               <div class="control-group" ng-class="{error: brgybusiness.owner_address.$invalid && !brgybusiness.owner_address.$pristine}">
                    <label class="control-label" for="prof_lastname">Business Owner Address</label>
                    <div class="controls">
                        <textarea class="form-control" ng-model="brgybusiness.owner_address" style="width: 250px;"></textarea>
                    </div>
                </div> <br />
            </div>
            <div class="col-md-4" ng-if="brgybusiness.resident_owner_here === 'Yes' " style="margin-bottom: 15px;">

              <div class="control-group">
              <br>
                <label for="business_owner">Business Owner's Name</label>
                 <ui-select ng-model="brgybusiness.business_owner" theme="select2" on-select="someFunction($item, $model)" ng-disabled="disabled" style="width: 250px;" title="Choose a person">
                    <ui-select-match placeholder="Firstname Middlename Lastname">{{$select.selected.fullname}}</ui-select-match>
                    <ui-select-choices repeat="business_owner._id +', '+ business_owner.fullname as business_owner in children_me | propsFilter: {fullname: $select.search, prof_lastname: $select.search}">
                      <div ng-bind-html="business_owner.fullname | highlight: $select.search"></div>
                    </ui-select-choices>
                  </ui-select>
                </div>
                <br>
                <div class="control-group" ng-class="{error: brgybusiness.owner_address.$invalid && !brgybusiness.owner_address.$pristine}">
                    <label class="control-label" for="prof_lastname">Business Owner Address</label>
                    <div class="controls">
                        <textarea class="form-control" ng-model="brgybusiness.owner_address" style="width: 250px;"></textarea>
                    </div>
                </div> <br />
            </div>
        </div>

        <div class="row">
        <br>
        <center>
            <div class="wrap">
                <form>
                    <label for="first">Webcam</label>
                    <input id="first" type="radio" name="content" ng-model="brgybusiness.content" value="first">
                   &nbsp; &nbsp; &nbsp; &nbsp;
                    <label for="other">Upload Picture</label>
                    <input id="other" type="radio" name="content" ng-model="brgybusiness.content" value="other">
                </form>
            </div>
        </center>
    </div>
    <br>
    <hr />

    <div class="row" ng-show="brgybusiness.content== 'first'">
        <div class="col-lg-4">
            <div class="well pull-left" style="height: 240px; width: 240px;">
                <div id="actual_image"></div><br>
                <center>
                    <span ng-if="!brgybusiness.imageuri " class="btn btn-success fileinput-button">
                                    <i class="glyphicon glyphicon-camera"></i>
                                    <span>Click to Capture</span>
                                     <input type="submit" ng-click="take_snapshot()">
                    </span>
                    <span ng-show="brgybusiness.imageuri" class="btn btn-success fileinput-button">
                                    <i class="glyphicon glyphicon-camera"></i>
                                    <span>Change Avatar</span>
                                    <input type="submit" ng-click="take_snapshot()">
                    </span>
                </center>
            </div>
        </div>

        <div class="col-lg-4"></div>

        <div class="col-lg-4">

            <div ng-hide="brgybusiness._id" id="capture_image" class="well pull-right"  style="height: 230px; width: 240px; color: green;">
                   Your captured image will appear here...
            </div>
            <div class="well pull-right" ng-hide="!brgybusiness._id" style="height: 240px; width: 240px;">
                   <img id="Hello" src="{{brgybusiness.imageuri}}" ng-model="brgybusiness.imageuri">
            </div>

        </div>

    </div>

         <!-- Configure a few settings and attach camera -->
            <script language="JavaScript">
                Webcam.set({
                    width: 200,
                    height: 160,
                    image_format: 'jpeg',
                    jpeg_quality: 72
                });
                Webcam.attach( '#actual_image' );
            </script>

            <!-- A button for taking snaps -->

        <div class="row" ng-show="brgybusiness.content == 'other'">

            <div class="col-md-6">

                           <image-crop
                             data-width="200"
                             data-height="200"
                             data-shape="square"
                             data-step="imageCropStep"
                             data-result="brgybusiness.imageuri"
                             ng-show="showImageCropper = true"
                           ></image-crop>
                            <p ng-show="brgybusiness.imageuri">Wanna start over? &rarr; <a href="" ng-click="brgybusiness.imageuri = null;imageCropStep=1" class="btn btn-info">Reset</a></p>
            </div>
            <div class="col-md-6">
                <center>
                    <div ng-show="brgybusiness.imageuri">
                         <img ng-src="{{ brgybusiness.imageuri }}" alt="The Cropped Image">
                         <p style="color: green;">Actual Profile Picture</p>
                         <input type="hidden" class="form-control" ng-model="brgybusiness.imageuri" value="brgybusiness.imageuri" />
                    </div>
               </center>
            </div>
       </div><br /><br />
    </div>
    <div class="control-group" style="margin-top: 15px;">
        <div class="container">
            <a data-html="true" title="<b>Terms &amp; Conditions</b> <br><br> Welcome to our website. If you continue to browse and use this website, you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern [business name]'s relationship with you in relation to this website. If you disagree with any part of these terms and conditions, please do not use our website." rel='tooltip' data-toggle="tooltip" data-placement="right">Terms &amp; Conditions</a>
            <br>
            <label class="checkbox inline" for="tnc">
                <input name="tnc" class="form-control" id="tnc" type="checkbox" ng-model="brgybusiness.tnc" ng-disabled="!brgybusiness.resident_owner_here" required /> Accept
            </label>
            <br />
            <div ng-show="error" class="alert alert-danger col-md-6">{{error}}</div>

        </div>
    <br />
    </div>
    <div class="panel-footer">
        <button ng-if="!brgybusiness._id" ng-click="savebusiness()"
                ng-disabled="!brgybusiness.tnc"
                class="btn btn-success"> Save <span class="glyphicon glyphicon-floppy-save"></span> </button>
        <button ng-click="updatebusiness(brgybusiness._id)"
                ng-if="brgybusiness._id"
                class="btn btn-success"> Update <span class="glyphicon glyphicon-floppy-save"></span>
    </div>
</div>
</form>
<script language="javascript">
$(document).ready(function(){
    $("[rel='tooltip']").tooltip();

    })
</script>